@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: f3Secuenicia;
  src: url('./assets/fonts/f3Secuencia/f3-Secuencia-round-regular.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Black;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Black.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Bold.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Heavy;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Heavy.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Light;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Light.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Medium;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Medium.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Reqular;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Regular.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Semibold;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Thin;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Thin.ttf');
}

@font-face {
  font-family: SF-Pro-Display-Ultralight;
  src: url('./assets/fonts/SFProDisplay/SF-Pro-Display-Ultralight.ttf');
}

:root {
  /* --primary-color: #d2de32; */
  --primary-color: #52794c;
  --secondary-color: #016a70;
  --text: #a2c579;
  --background: #15181e;
}

body {
  margin: 0;
  background-color: white;
  min-height: 100vh;
  color: black;
}
